$InnerBackgroundColor: #E7E5E5; 
$hoverDarken: darken($InnerBackgroundColor, 10%);

.modal {
    position: fixed;
    opacity: 0;
    display: table;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .3s ease-in-out; 
    &.in {
        opacity: 1;
        .modal-inner {
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
            height: 85%;
            width: 85%;
            background-color: #788182;
            box-shadow: 0 2px 3px 0 rgba(48, 48, 48, 1);
            border-radius: 3px;
            transition: all .3s ease-in-out;
        }
    } 
    .modal-inner {
        transform: translate3d(0,-100px,0);
        transition: all 1s ease-in-out;
    }   
    
}

.modal-backdrop {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: rgba(0,0,0,.25);
}
.modal-inner {
    display: inline-block;
    text-align: left;
}

.modal-box {
    padding: 20px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    width: 300px;
}


